/* static/styles_resultados.css */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.backgroundWrapper {
    background-color: #ecfdf3;
    height: calc(100vh - 108px);
    padding-top: 32px;
    padding-bottom: 32px;
}

.containerApp {
    margin: 0 auto !important;
    max-width: 90vw;
    background-color: #fff;
    border-radius: 16px;

}

.content {
    padding: 16px 32px 32px;
}

.button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #209e52;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 16px 20px;
    text-decoration: none;
}

.button:hover {
    color: #fff;
    background-color: #218838;
    text-decoration: none;
}

.clear-filters-button {
    cursor: pointer;
    color: #fff;
    background-color: #808080;
    /* Cinza */
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    height: 39px;
    text-decoration: none;
}

.clear-filters-button:hover {
    color: #fff;
    background-color: #696969;
    /* Cinza escuro */
    text-decoration: none;
}

h2 {
    color: #209e52;
    margin: 0;
}

label {
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
}

select {
    width: fit-content;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    text-align: center;
}

#filtrosResultados {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

#filtrosResultados div {
    margin: 0 10px;
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo para o input de data */
input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 32px;
}

.btn-alterar {
    background-color: #5f2172;
}

.buttonsContent {
    display: flex;
    gap: 16px;
}

.orientacoes-usu {
    right: 17vh;
    position: absolute;
    background-color: #52a774;
    font-family: FontAwesome;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    top: 28px;
}

/* table */

.table-wrapper {
    display: flex;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    scrollbar-width: thin;
    margin-top: 32px;
    height: 65vh;
}

.table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

#tableRow th {
    padding: 10px;
    /* white-space: nowrap; */
}

.tableColumn {
    border: 1px solid #ddd;
    padding: 8px;
}

.actionsContainer {
    display: flex;
    gap: 8px;
}

.actionEdit {
    color: #fff;
    background-color: #f39c12;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.actionEdit:hover {
    color: #fff;
    background-color: #d68708;
    text-decoration: none;
}

.actionGuide {
    cursor: pointer;
    color: #fff;
    background-color: #747474;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 8px 16px;
    text-decoration: none;
}

.actionGuide:hover {
    color: #fff;
    background-color: #535353;
    text-decoration: none;
}

.actionDelete {
    cursor: pointer;
    color: #fff;
    background-color: #ff0011;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    height: 100%;
}

.actionDelete:hover {
    color: #fff;
    background-color: #aa000b;
    text-decoration: none;
}

.actionDuplicate {
    cursor: pointer;
    height: 100%;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 8px 16px;
    text-decoration: none;
}

.actionDuplicate:hover {
    color: #fff;
    background-color: #2980b9;
    text-decoration: none;
}