<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de rotas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='m_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
    <div style=" background: linear-gradient(90.22deg, #FFFFFF -47.1%, #8a2bca 122.42%);">
        <menu>
            <a href="/">
                <img src="{{url_for('static', filename='logo2.png')}}" style="max-width: 300px; max-height: 50px;">
            </a>
            <div class="buttons-menu-wrapper">
                <a class="menu-button" href="/manual">
                    Orientações de uso
                </a>
            </div>
        </menu>
    </div>

    <div class="backgroundWrapperRegisterUser">
        <h1 class="titleWrapper">Criar rota</h1>
        <form action="/create_route" method="post">
            <div class="containerApp">
                <div class="contentRegisterUser">
                    <div class="inputsRegisterUserWrapper">
                        <div class="inputWrapperUser">
                            <label for="rota_id">Rota:</label>
                            <input type="number" id="rota_id" name="rota_id" required placeholder="Digite um número">
                        </div>

                        <div class="inputWrapperUser">
                            <label for="funcionario_rota">Funcionários:</label>
                            <select id="funcionario_rota" name="funcionario_rota" required>
                                <option value="kant">Kant</option>
                                <option value="hegel">Hegel</option>
                                <option value="nietzsche">Nietzsche</option>
                                <option value="schopenhauer">Schopenhauer</option>
                            </select>
                        </div>

                        <div class="inputWrapperUser">
                            <label for="prioridade_rota">Prioridade de entrega:</label>
                            <select id="prioridade_rota" name="prioridade_rota" required>
                                <option value="1">1 - Urgente</option>
                                <option value="2">2 - Alta</option>
                                <option value="3">3 - Padrão</option>
                            </select>
                        </div>

                        <div>
                            <button type="submit">Criar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var mensagem = "{{ message }}";
        if (mensagem) {
            alert(mensagem);
        }
    });
</script>

</html>