<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de colaboradores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='m_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
    <div style=" background: linear-gradient(90.22deg, #FFFFFF -47.1%, #8a2bca 122.42%);">
        <menu>
            <a href="/">
                <img src="{{url_for('static', filename='logo2.png')}}" style="max-width: 300px; max-height: 50px;">
            </a>
            <div class="buttons-menu-wrapper">
                <a class="menu-button" href="/manual">
                    Orientações de uso
                </a>
            </div>
        </menu>
    </div>

    <div class="backgroundWrapperRegisterUser">
        <h1 class="titleWrapper">Criar usuário</h1>
        <form action="/create_user" method="post">
            <div class="containerApp">
                <div class="contentRegisterUser">
                    <div class="inputsRegisterUserWrapper">
                        <div class="inputWrapperUser">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" required>
                        </div>

                        <div class="inputWrapperUser">
                            <label for="tipo_veiculo">Tipo de veículo:</label>
                            <select id="tipo_veiculo" name="tipo_veiculo" required>
                                <option value="moto">Moto</option>
                                <option value="passeio">Passeio</option>
                                <option value="truck">Caminhão</option>
                            </select>
                        </div>

                        <div class="inputWrapperUser">
                            <label for="cnh">CNH Válida:</label>
                            <select id="cnh" name="cnh" required>
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                        </div>

                        <div>
                            <button type="submit">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var mensagem = "{{ message }}";
        if (mensagem) {
            alert(mensagem);
        }
    });
</script>

</html>