<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Rotas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='r_manager.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div style=" background: linear-gradient(90.22deg, #FFFFFF -47.1%, #8a2bca 122.42%);">
        <menu>
            <a href="/">
                <img src="{{url_for('static', filename='logo2.png')}}" style="max-width: 300px; max-height: 50px;">
            </a>
            <div class="buttons-menu-wrapper">
                <a class="menu-button" href="/manual">
                    Orientações de uso
                </a>
            </div>
        </menu>
    </div>
    <div class="container">
        <h1>Ordenação de Rotas</h1>
        <form method="POST" action="/routes">
            <table id="tableRow" class="table">
                <thead>
                    <tr>
                        <th>Rota</th>
                        <th>Prioridade</th>
                        <th>Funcionário</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rota in rotas %}
                    <tr>
                        <td>{{ rota[0] }}</td>
                        <td>
                            <select name="prioridade_{{ rota[0] }}" required>
                                <option value="1" {% if rota[2]==1 %} selected {% endif %}>1 - Urgente</option>
                                <option value="2" {% if rota[2]==2 %} selected {% endif %}>2 - Alta</option>
                                <option value="3" {% if rota[2]==3 %} selected {% endif %}>3 - Padrão</option>
                            </select>
                        </td>
                        <td>
                            <select name="funcionario_{{ rota[0] }}" required>
                                {% for funcionario in funcionarios %}
                                <option value="{{ funcionario.nome }}" {% if rota[1]==funcionario.nome %} selected {%
                                    endif %}>
                                    {{ funcionario.nome }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="checkbox" name="excluir_{{ rota[0] }}" value="true">
                        </td>
                        <input type="hidden" name="id_{{ rota[0] }}" value="{{ rota[0] }}">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <div class="button-group">
                <button type="submit" class="btn btn-primary" style="background-color: #5f2172;"
                    id="reloadButton">Alterar</button>
                <button type="button" class="btn btn-primary" style="background-color: #5f2172;"
                    onclick="location.href='/create_route'">Criar rota</button>
            </div>
        </form>

    </div>

</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var mensagem = "{{ message }}";
        if (mensagem) {
            alert(mensagem);
        }
    });
</script>

</html>