<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Rotas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='r_manager.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div style=" background: linear-gradient(90.22deg, #FFFFFF -47.1%, #8a2bca 122.42%);">
        <menu>
            <a href="/">
                <img src="{{url_for('static', filename='logo2.png')}}" style="max-width: 300px; max-height: 50px;">
            </a>
            <div class="buttons-menu-wrapper">
                <a class="menu-button" href="/manual">
                    Orientações de uso
                </a>
            </div>
        </menu>
    </div>
    <div class="container">
        <h1>Gerenciamento de Rotas</h1>
        <form method="POST" action="/routes">
            <table id="tableRow" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prioridade</th>
                        <th>Funcionário</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rota in rotas %}
                    <tr>
                        <td>{{ rota.id }}</td>
                        <td>
                            <select name="prioridade" required>
                                <option value="1" {% if rota.prioridade==1 %} selected {% endif %}>1</option>
                                <option value="2" {% if rota.prioridade==2 %} selected {% endif %}>2</option>
                                <option value="3" {% if rota.prioridade==3 %} selected {% endif %}>3</option>
                            </select>
                        </td>
                        <td>
                            <select name="funcionario" required>
                                {% for funcionario in funcionarios %}
                                <option value="{{ funcionario }}" {% if rota.funcionario==funcionario %} selected {%
                                    endif %}>{{ funcionario }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="checkbox" name="excluir" value="{{ rota.id }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button type="button" class="btn btn-primary"
                style="background-color: #5f2172; display: block; margin: 0 auto;">Alterar</button>
        </form>
    </div>

</body>

</html>