<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de uso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='m_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
    <div style=" background: linear-gradient(90.22deg, #FFFFFF -47.1%, #8a2bca 122.42%);">
        <menu>
            <a href="/">
                <img src="{{url_for('static', filename='logo2.png')}}" style="max-width: 300px; max-height: 50px;">
            </a>
        </menu>
    </div>

    <div class="backgroundWrapper">

        <div class="containerApp">
            <div class="content">
                <h2>Orientações de uso</h2>
                <ul id="Descricao">
                    <li>Nesta aplicação você pode gerenciar rotas. Isto inclui:
                        <ul>
                            <li>Criação: Definição de prioridade (ordenando-as) e entregador;</li>
                            <li>Deleção: Remoção de rotas;</li>
                        </ul>
                    </li>
                    <li>Lembre-se de que não estamos usando nenhum banco de dados e, por isso, não há persistência de
                        dados. Logo, se fechar a aplicação, perderá todas as alterações feitas.</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>