<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de uso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='m_users.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
    <div style=" background: linear-gradient(90.22deg, #FFFFFF -47.1%, #8a2bca 122.42%);">
        <menu>
            <a href="/">
                <img src="{{url_for('static', filename='logo2.png')}}" style="max-width: 300px; max-height: 50px;">
            </a>
        </menu>
    </div>

    <div class="backgroundWrapper">

        <div class="containerApp">
            <div class="content">
                <h2>Orientações de uso</h2>
                <ul id="Descricao">
                    <li>Nesta aplicação você pode criar usuários e administrar rotas.</li>
                    <li>Para criar usuários basta clicar nesta opção, disponibilizada na Home Page e preencher todos os
                        campos. Obs: As opções CNH e Veículo são irrelevantes para a execução do programa. </li>
                    <li>Na opção de administrar rotas você pode definir usuários as respectivas rotas, estabelecer
                        prioridade e excluir rotas. Todas as possibilidades terão um campo visível.</li>
                    <li>Lembrando que não estamos usando nenhum BD e por isso não existe persistência de dados, logo se
                        fechar a aplicação irá perder todas as alterações feitas.</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>